:root {
    --border-width: 1px;
    --cell-size: 1.8rem;
    --full-width: calc(var(--cell-size) * 7 + var(--border-width) * 8);

    --border-color: rgb(151, 151, 151);
    --current-day-color: rgb(255, 136, 0);
}

* {
    margin: 0;
    box-sizing: border-box;
}

.month-input {
    margin: 1rem;
    margin-bottom: 0;
    width: var(--full-width);
}

.calend {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(7, var(--cell-size));
    grid-auto-rows: var(--cell-size);
    grid-gap: var(--border-width);
    background: var(--border-color);
    border: var(--border-width) solid var(--border-color);
    width: var(--full-width);
}

.calend__week_day {
    font-weight: bold;
}

.calend__day {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.calend__day--current {
    background: var(--current-day-color);
}