:root {
    --border-width: 1px;
    --borders-all: calc(var(--border-width) * 8);
    --cell-size: calc((min(100vw, 100vh) - var(--borders-all)) / 7);
    --full-width: calc(var(--cell-size) * 7 + var(--borders-all));

    --border-color: rgb(151, 151, 151);
    --current-day-color: #ff8800;
    --week-day-color: #f1f1f1;
    --day-background: white;

    --margin-main: 1rem;
    --font-size: calc(var(--cell-size) / 2);
}

* {
    margin: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
}

.calend {
    display: grid;
    grid-template-columns: repeat(7, var(--cell-size));
    grid-auto-rows: var(--cell-size);
    grid-gap: var(--border-width);
    background: var(--border-color);
    border: var(--border-width) solid var(--border-color);
    width: var(--full-width);
}

.calend__day {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--day-background);
}

.calend__week_day {
    font-weight: bold;
    background-color: var(--week-day-color)
}

.calend__day--current {
    background: var(--current-day-color);
}


.month-year {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

#month,
#year {
    border: none;
    border-bottom: outset;
    font-size: calc(var(--font-size) * 0.8);
    height: var(--font-size);
    bottom: 0;
    text-align: center;
    background-color: transparent;
}

@media screen and (min-width: 500px) {
    :root {
        --cell-size: 3rem;
    }
}